.alarms {
  height: auto;
  width: auto;
  padding: 20px;
  background-color: #d6feee ; /*#F9F9FC*/
  overflow-x: scroll;
  border-radius: 20px;
}

.alarmsArea {
  height: auto;
  width: auto;
  padding: 20px;
  background-color: #d6feee ; /*#F9F9FC*/
  overflow-x: scroll;
}