.sidebar {
  width: 100%;
  height: 100%;
  background-color: #04d17f;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 60px;
  padding-top: 30px;
  flex-grow: 1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 60px;
  width: 60px;
  border-radius: 100%;
  font-size: 48px;
  line-height: 0px;
  vertical-align: middle;
  color: #fff;
}

.icons {
  height: auto;
  padding-top: 20px;
  flex-grow: 5;
}

.icons .icon {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 60px;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  background-color: #04d17f;
  border-radius: 100%;
}

.icon span {
  font-size: 36px;
  line-height: 0px;
  text-align: center;
  vertical-align: middle;
  color: #191919;
  cursor: pointer;
}

.bottom {
  height: auto;
  top: 100%;
  padding-bottom: 50px;
  text-align: center;
}